.hero
  padding:  50px 0 
  background-color:  $secondary
  +reg
  &-block
     display: flex
  &-text 
     display: inline-block
     max-width: 51%
     padding-right: 10px
     
     &__title 
        font-size: 41px
        line-height: 56px
        margin-bottom: 14px
        +bold
     &__subtitle
         display: inline-block
         font-size: 20px
         line-height: 68px  
         margin-bottom: 35px
         +bold
  &-list 
     margin: 0
     padding: 0
     &__item 
        display: flex
        align-items: center
        margin-bottom: 10px
        +reg
        &:last-child
           margin-bottom: 0
        
     &__image
        width: 40px
        height: 40px
        border: 2px solid  $main-color
        border-radius: 50%  
        display: flex
        align-items: center
        justify-content: center
        margin-right:  31px
        margin-bottom: 10px
        padding: 8px
        margin-top: 10px
       
     &__text
        display: inline-block
        max-width: 253px
        font-size: 14px
        line-height: 24px
      
      
@media  ( max-width: 1200px )
   .hero
     &-block
         flex-direction: column
     &-list 
          margin-bottom: 44px
     &-text 
          padding-right: 10px
     &__title
             align-items: center     


@media  ( max-width: 991px )
   .hero
      &-block
        flex-direction: column
        align-content: center
        justify-content: center
      &-list 
         margin-bottom: 44px
      &-text 
         max-width: 100%
         &__title
             line-height: 20px
             font-size: 30px
         &__subtitle
           

@media  ( max-width: 768px )         
   .hero
     &-block
         flex-direction:  column 
         justify-content: center  
     &-text 
        &__title
           font-size: 34px
           line-height: 50px
           margin-bottom: 15px 
        &__subtitle
           font-size: 21px
           margin-bottom: 28px
     &-list
        &__item
           margin-bottom: 20px
        &__text 
            font-size: 12px
        &__image
           margin-right: 15px

@media  ( max-width: 567px )    
   .hero
     &-block
        width: 100%
        height: 100%
         flex-direction:  column 
         justify-content: center  
     &-text 
        &__title
            font-size: 24px
            line-height:  1.4
            margin-bottom: 15px 
        &__subtitle
            font-size: 16px
            margin-bottom: 28px
            line-height: 65px
     &-list
        &__item
           margin-bottom: 10px
           padding-left: 5px
        &__text 
            font-size: 10px
        &__image
           margin-right: 15px
@media  (max-width: 320px)  
   .hero
     padding-top: 0
     padding-bottom: 50px
     &-block
        flex-direction:  column 
        justify-content: center  
        width: 100%
     &-text
        max-width: 100%
        margin:  2px 
        &__title
           font-size: 24px
           width:  300px
           margin-bottom: 8px 
           margin-top: 49px
           line-height: 29px
        &__subtitle
         
           font-size: 16px
           width: 210px
           margin-bottom: 23px
           line-height: 19px
           padding-left: 2px      
     &-list
        margin-bottom: 30px
        &__item
           margin-bottom: 10px
           padding-left: 2px
        &__text 
            font-size: 12px
            line-height: 14px
            margin-top: 4px
            
            +bold
        &__image
           margin-right: 13px
           margin-top: 6px
           margin-bottom: 4px
           padding: 7px
         