.navbar
  padding: 5px 0
  margin: 0
  +reg
  &-block
    display: flex
    justify-content: space-between
    align-items:  center
  &__info
    display: flex
    align-items:  center
    text-align: right 
  &__address
     display: flex
     flex-direction: column 
     font-size: 13px   
     margin-right: 26px
     margin-bottom: 5px
     +reg
    
  &__contacts
     display: inline-block

  &__phone
     display: inline-block
     text-decoration:  none
     color: $text-color
     font-size: 20px
     margin-right: 27px
     margin-bottom: 5px
     +bold
   
  &__button 
     font-size: 10px  
     padding: 16px 20px 
     +reg
     
@media  ( max-width: 768px )
   .navbar
     &__contacts
          display: none
     &__button 
          font-size: 10px  
          padding: 15px 26px
          +bold
     &__logo
          width: 90px   

@media  ( max-width: 320px )   
   .button
      display: inline-block
      border-radius: 10px
      background-color: $main-color 
      border:  none
      padding: 14px 27px
      font-size: 10px
      +bold
   
      